In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# statistical review
import statistics as st
from scipy import stats

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

-First Objective is to make a fake CSV file that duplicates the format of the real reporting.

-Then we can start to clean up the fake CSV and write code against the fake CSV. 

-Finally, we should be able to look through all datasets with the same process and produce a chart.

#### To read csv

In [2]:
# read csv
df = pd.read_csv("./data/spreadsheet_nutshell.csv")

In [3]:
# display dataframe
df.head()

,Unnamed: 0,Division,Unnamed: 2,Report Name,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,$5.00,Prior Year,Q1,NaN,Q2,NaN,Q3,NaN,Q4,NaN
1,NaN,$5.00,Next Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,$5.00,Current Year,$1.00,Current Year,$2.00,Current Year,$3.00,Current Year,$4.00,Current Year
3,NaN,-$5.00,Currency Change,$1.00,Currency Change,$2.00,Currency Change,$3.00,Currency Change,$4.00,Currency Change
4,#REF!,$5.00,New Sales,$1.00,New Sales,$2.00,New Sales,$3.00,New Sales,$4.00,New Sales

In [4]:
# get the report name of the spreadsheet
report_name = df.iloc[0,3]

 #### To review the column data available

In [5]:
# to review content per column 
column_data = df.count()
column_data

Unnamed: 0      1
Division       27
Unnamed: 2     22
Report Name    30
Unnamed: 4     22
Unnamed: 5     43
Unnamed: 6     23
Unnamed: 7     35
Unnamed: 8     22
Unnamed: 9     35
Unnamed: 10    21
dtype: int64

In [6]:
# to get the zscore of the values in the list 
list_values_zscore = list(stats.zscore(column_data))
# to round the zscore
col_val_zscore = [round(elem,3) for elem in list_values_zscore]

In [7]:
# to make a list of values that go beyond our appropriate z-score
drop_col_index  = [col_val_zscore.index(value) for value in col_val_zscore if value < -1]

In [8]:
# to create a list of columns with insufficent data - potiential additional notes or external notation
drop_columns = list(column_data.index[[drop_col_index]])
drop_columns

['Unnamed: 0']

In [9]:
# to drop un required columns from the data table

df_rev0 = df.drop(columns= drop_columns)

#### To reformat data report to fit finalized expecations

In [10]:
df_rev0.head(30)

,Division,Unnamed: 2,Report Name,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,$5.00,Prior Year,Q1,NaN,Q2,NaN,Q3,NaN,Q4,NaN
1,$5.00,Next Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,$5.00,Current Year,$1.00,Current Year,$2.00,Current Year,$3.00,Current Year,$4.00,Current Year
3,-$5.00,Currency Change,$1.00,Currency Change,$2.00,Currency Change,$3.00,Currency Change,$4.00,Currency Change
4,$5.00,New Sales,$1.00,New Sales,$2.00,New Sales,$3.00,New Sales,$4.00,New Sales
5,$5.00,Maybe New Sales,$1.00,Maybe New Sales,$2.00,Maybe New Sales,-$3.00,Maybe New Sales,$4.00,Maybe New Sales
6,$5.00,Maybe Not New Sales,$1.00,Maybe Not New Sales,$2.00,Maybe Not New Sales,$3.00,Maybe Not New Sales,$4.00,Maybe Not New Sales
7,$5.00,Lost Sales (Kind of),$1.00,Lost Sales (Kind of),$2.00,Lost Sales (Kind of),$3.00,Lost Sales (Kind of),$4.00,Lost Sales (Kind of)
8,$5.00,Sales Gone,$1.00,Sales Gone,$2.00,Sales Gone,$3.00,Sales Gone,$4.00,Sales Gone
9,$5.00,NaN,$1.00,NaN,$2.00,NaN,$3.00,NaN,$4.00,NaN
10,$5.00,NaN,$1.00,NaN,$2.00,NaN,$3.00,NaN,$4.00,NaN
11,$5.00,NaN,$1.00,NaN,$2.00,NaN,$3.00,NaN,$4.00,NaN
12,Lost Sales per Quarter,NaN,$0.01,Best Case,$0.02,Best Case,$0.03,Best Case,$0.04,Best Case
13,NaN,NaN,$0.01,Worst Case,$0.02,Worst Case,$0.03,Worst Case,$0.04,Worst Case
14,Lost Sales YTD,NaN,$0.01,Best Case,$0.02,Best Case,$0.03,Best Case,$0.04,Best Case
15,NaN,NaN,$0.01,Worst Case,$0.02,Worst Case,$0.03,Worst Case,$0.04,Worst Case
16,Total Business Sales,NaN,$0.01,Best Case,$0.02,Best Case,$0.03,Best Case,$0.04,Best Case
17,NaN,NaN,$0.01,Worst Case,$0.02,Worst Case,$0.03,Worst Case,$0.04,Worst Case
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$2.22,NaN,NaN
19,NaN,New Sales,$1.00,New Sales,$2.10,New Sales,$3.10,New Sales,$4.10,New Sales
20,NaN,Won,$1.00,Won,$2.10,Won,$3.10,Won,$4.10,Won
21,NaN,Grew,$0.10,Grew,$2.10,Grew,$3.10,Grew,$4.10,Grew
22,NaN,Upgrade,$0.10,Upgrade,$2.10,Upgrade,$3.10,Upgrade,$4.10,Upgrade
23,NaN,Other,$0.10,Other,$2.10,Other,$3.10,Other,$4.10,Other
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Errors,$0.00,Errors,$0.00,Errors,$0.00,Errors,$0.00,Errors
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Total,$0.00,Total Quarter,$0.00,Total Quarter,$0.00,Total Quarter,$0.00,Total Quarter
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,Negotiating,$1.00,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN

In [11]:
## index 0 is the title row 
## index 10 - 12 are fields hidden in excel to create the calculated values in index 13-18.
## index 40 ahead are comments
## We will remove them from our dataframe because those values are not required for graphing table

# I'll reset the index at the end of the edits to prevent repeative code

df_rev1 = df_rev0.drop(axis=0, index=[0,10,11,12])

In [12]:
df_rev1.head(50)

,Division,Unnamed: 2,Report Name,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
1,$5.00,Next Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,$5.00,Current Year,$1.00,Current Year,$2.00,Current Year,$3.00,Current Year,$4.00,Current Year
3,-$5.00,Currency Change,$1.00,Currency Change,$2.00,Currency Change,$3.00,Currency Change,$4.00,Currency Change
4,$5.00,New Sales,$1.00,New Sales,$2.00,New Sales,$3.00,New Sales,$4.00,New Sales
5,$5.00,Maybe New Sales,$1.00,Maybe New Sales,$2.00,Maybe New Sales,-$3.00,Maybe New Sales,$4.00,Maybe New Sales
6,$5.00,Maybe Not New Sales,$1.00,Maybe Not New Sales,$2.00,Maybe Not New Sales,$3.00,Maybe Not New Sales,$4.00,Maybe Not New Sales
7,$5.00,Lost Sales (Kind of),$1.00,Lost Sales (Kind of),$2.00,Lost Sales (Kind of),$3.00,Lost Sales (Kind of),$4.00,Lost Sales (Kind of)
8,$5.00,Sales Gone,$1.00,Sales Gone,$2.00,Sales Gone,$3.00,Sales Gone,$4.00,Sales Gone
9,$5.00,NaN,$1.00,NaN,$2.00,NaN,$3.00,NaN,$4.00,NaN
13,NaN,NaN,$0.01,Worst Case,$0.02,Worst Case,$0.03,Worst Case,$0.04,Worst Case
14,Lost Sales YTD,NaN,$0.01,Best Case,$0.02,Best Case,$0.03,Best Case,$0.04,Best Case
15,NaN,NaN,$0.01,Worst Case,$0.02,Worst Case,$0.03,Worst Case,$0.04,Worst Case
16,Total Business Sales,NaN,$0.01,Best Case,$0.02,Best Case,$0.03,Best Case,$0.04,Best Case
17,NaN,NaN,$0.01,Worst Case,$0.02,Worst Case,$0.03,Worst Case,$0.04,Worst Case
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$2.22,NaN,NaN
19,NaN,New Sales,$1.00,New Sales,$2.10,New Sales,$3.10,New Sales,$4.10,New Sales
20,NaN,Won,$1.00,Won,$2.10,Won,$3.10,Won,$4.10,Won
21,NaN,Grew,$0.10,Grew,$2.10,Grew,$3.10,Grew,$4.10,Grew
22,NaN,Upgrade,$0.10,Upgrade,$2.10,Upgrade,$3.10,Upgrade,$4.10,Upgrade
23,NaN,Other,$0.10,Other,$2.10,Other,$3.10,Other,$4.10,Other
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Errors,$0.00,Errors,$0.00,Errors,$0.00,Errors,$0.00,Errors
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Total,$0.00,Total Quarter,$0.00,Total Quarter,$0.00,Total Quarter,$0.00,Total Quarter
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,Negotiating,$1.00,NaN,$0.00,NaN,$0.00,NaN,$0.00,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,Total Sales Kept,$0.00,NaN,$0.00,NaN,$0.10,NaN,$0.09,NaN
32,NaN,Total New Sales,$0.00,NaN,$0.00,$0.90,$0.10,NaN,$0.09,NaN
33,NaN,Negotitating Sales,$0.00,NaN,$0.00,NaN,$0.10,NaN,$0.09,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,Total Sales Estimate,$1.00,$1.00,$2.00,$2.00,$3.00,NaN,$4.00,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,Total Sales - Periodic Update,$1.00,$1.00,$2.00,$0.95,$3.00,$0.89,$4.00,5.00%
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Comments:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Words,NaN,NaN,NaN,Words,NaN,Words,NaN,Words,NaN
43,Words and Numbers,NaN,NaN,NaN,Words and Numbers,NaN,Words and Numbers,NaN,Words and Numbers,NaN
44,Words and Numbers,NaN,NaN,NaN,Words and Numbers,NaN,Words and Numbers,NaN,Words and Numbers,NaN
45,NaN,NaN,NaN,NaN,Words and Numbers,NaN,Words and Numbers,NaN,Words and Numbers,NaN
46,Words and Numbers,NaN,NaN,NaN,Words and Numbers,NaN,NaN,NaN,NaN,NaN
47,Words and Numbers,NaN,NaN,NaN,Words and Numbers,NaN,NaN,NaN,NaN,NaN
48,Words and Numbers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Words and Numbers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Words and Numbers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Words and Numbers,NaN,NaN,NaN,More Words,NaN,More Words,NaN,More Words,NaN
52,Words and Numbers,NaN,NaN,NaN,Words and Numbers,NaN,NaN,NaN,NaN,NaN
53,Words and Numbers,NaN,NaN,NaN,Words and Numbers,NaN,NaN,NaN,NaN,NaN

In [13]:
# to make a list of new column headers

revised_column_headers = ['Description',
'Objective Category',
'Region',
'Year',
'Prior Year Ending',
'Forecast: Next Year',
'Current Year',
'Changed',
'Renewed',
'Forecast: Sales Likely',
'Forecast: Sales Unlikely',
'Lost Kind Of',
'Lost',
'Forecast: Lost (Best Case)',
'Forecast: Lost Worst Case)',
'Forecast: Lost (Best Case)',
'Forecast: Lost (Worst Case)',
'Forecast: Lost YTD (Best Case)',
'Forecast: Lost YTD (Worst Case)',
'New Business',
'Conversion',
'Expansions',
'Upgrades',
'Other ',
'Data Fix',
'Cumuliative',
'Negotiating',
'Retained %',
'New Retained %',
'Negotiate %',
'Cumulative Forecast',
'Forecast: Updated Periodically'
]

In [14]:
revised_column_headers

['Description',
 'Objective Category',
 'Region',
 'Year',
 'Prior Year Ending',
 'Forecast: Next Year',
 'Current Year',
 'Changed',
 'Renewed',
 'Forecast: Sales Likely',
 'Forecast: Sales Unlikely',
 'Lost Kind Of',
 'Lost',
 'Forecast: Lost (Best Case)',
 'Forecast: Lost Worst Case)',
 'Forecast: Lost (Best Case)',
 'Forecast: Lost (Worst Case)',
 'Forecast: Lost YTD (Best Case)',
 'Forecast: Lost YTD (Worst Case)',
 'New Business',
 'Conversion',
 'Expansions',
 'Upgrades',
 'Other ',
 'Data Fix',
 'Cumuliative',
 'Negotiating',
 'Retained %',
 'New Retained %',
 'Negotiate %',
 'Cumulative Forecast',
 'Forecast: Updated Periodically']

In [15]:
quartlery_col_headers = revised_column_headers[6:]
quartlery_col_headers

['Current Year',
 'Changed',
 'Renewed',
 'Forecast: Sales Likely',
 'Forecast: Sales Unlikely',
 'Lost Kind Of',
 'Lost',
 'Forecast: Lost (Best Case)',
 'Forecast: Lost Worst Case)',
 'Forecast: Lost (Best Case)',
 'Forecast: Lost (Worst Case)',
 'Forecast: Lost YTD (Best Case)',
 'Forecast: Lost YTD (Worst Case)',
 'New Business',
 'Conversion',
 'Expansions',
 'Upgrades',
 'Other ',
 'Data Fix',
 'Cumuliative',
 'Negotiating',
 'Retained %',
 'New Retained %',
 'Negotiate %',
 'Cumulative Forecast',
 'Forecast: Updated Periodically']

#### Order of Operations

1. Establish a new table format
2. Insert values with appropriate columns

In [16]:
# to get the values from the appriopriate columns
total_summary_col_original = list(df_rev1.iloc[:,0].dropna())

# to get the quarterly values
q1_col_original = list(df_rev1.iloc[:,2].dropna())

q2_col_original = list(df_rev1.iloc[:,4].dropna())

q3_col_original = list(df_rev1.iloc[:,6].dropna())

q4_col_original = list(df_rev1.iloc[:,8].dropna())

In [17]:
q3_col_original[0:26]

['$3.00',
 '$3.00',
 '$3.00',
 '-$3.00',
 '$3.00',
 '$3.00',
 '$3.00',
 '$3.00',
 '$0.03',
 '$0.03',
 '$0.03',
 '$0.03',
 '$0.03',
 '$3.10',
 '$3.10',
 '$3.10',
 '$3.10',
 '$3.10',
 '$0.00',
 '$0.00',
 '$0.00',
 '$0.10',
 '$0.10',
 '$0.10',
 '$3.00',
 '$3.00']

In [18]:
# to convert the values into a string 

def string_to_float(col_values):
        
    """ 
    three part conditional list comprehension
    
    1. if value is a % , return it to a decimal 
    2. else strip the $ from the value in the list
    3. if a "-" symbol isn't in value continue with TRUE condition, else strip the value of a "-" & "$" 
     then multiply the value by -1 to make it negative """
    
    
    return [(float(x.strip("%"))/100) if "%" in x  else float(x.strip("$")) if "-" not in x else (float(x.strip("$-()"))*-1) for x in col_values]

In [19]:
quarterly_col_values = {0: q1_col_original, 1: q2_col_original, 2: q3_col_original, 3: q4_col_original}

In [20]:
values = ["$5.00","90.0%","-$3.00"]

In [21]:
item = string_to_float(values)

In [22]:
i = 0

quarterly_values = []

while i < len(quarterly_col_values):
      
    # to only review a list with values
    q_values_list = quarterly_col_values[i][0:26]
    
    print(q_values_list)
    
    # to convert the list of values into a float
    column_values = string_to_float(q_values_list)

    print(column_values, len(column_values))

    # to append column_values to a list of quarterly values for review
    quarterly_values.append(column_values)
    
    print(f"Completed reviewing quarterly data {i} of 3")
    
    i += 1

['$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$1.00', '$0.01', '$0.01', '$0.01', '$0.01', '$0.01', '$1.00', '$1.00', '$0.10', '$0.10', '$0.10', '$0.00', '$0.00', '$1.00', '$0.00', '$0.00', '$0.00', '$1.00', '$1.00']
[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.01, 0.01, 0.01, 0.01, 0.01, 1.0, 1.0, 0.1, 0.1, 0.1, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0] 26
Completed reviewing quarterly data 0 of 3
['$2.00', '$2.00', '$2.00', '$2.00', '$2.00', '$2.00', '$2.00', '$2.00', '$0.02', '$0.02', '$0.02', '$0.02', '$0.02', '$2.10', '$2.10', '$2.10', '$2.10', '$2.10', '$0.00', '$0.00', '$0.00', '$0.00', '$0.00', '$0.00', '$2.00', '$2.00']
[2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 0.02, 0.02, 0.02, 0.02, 0.02, 2.1, 2.1, 2.1, 2.1, 2.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 2.0] 26
Completed reviewing quarterly data 1 of 3
['$3.00', '$3.00', '$3.00', '-$3.00', '$3.00', '$3.00', '$3.00', '$3.00', '$0.03', '$0.03', '$0.03', '$0.03', '$0.03', '$3.10', '$3.10', '$3.10', '$3.10', '$3.10', '$0.00', '$0.00', '$0.00', '$0.10', '$0.10', '$0.10', '$3.00', '$3.00']
[3.0, 3.0, 3.0, -3.0, 3.0, 3.0, 3.0, 3.0, 0.03, 0.03, 0.03, 0.03, 0.03, 3.1, 3.1, 3.1, 3.1, 3.1, 0.0, 0.0, 0.0, 0.1, 0.1, 0.1, 3.0, 3.0] 26
Completed reviewing quarterly data 2 of 3
['$4.00', '$4.00', '$4.00', '$4.00', '$4.00', '$4.00', '$4.00', '$4.00', '$0.04', '$0.04', '$0.04', '$0.04', '$0.04', '$4.10', '$4.10', '$4.10', '$4.10', '$4.10', '$0.00', '$0.00', '$0.00', '$0.09', '$0.09', '$0.09', '$4.00', '$4.00']
[4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 0.04, 0.04, 0.04, 0.04, 0.04, 4.1, 4.1, 4.1, 4.1, 4.1, 0.0, 0.0, 0.0, 0.09, 0.09, 0.09, 4.0, 4.0] 26
Completed reviewing quarterly data 3 of 3

In [23]:
quarterly_values[0]

[1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 1.0,
 1.0,
 0.1,
 0.1,
 0.1,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0]

In [24]:
total_summary_col_original

['$5.00',
 '$5.00',
 '-$5.00',
 '$5.00',
 '$5.00',
 '$5.00',
 '$5.00',
 '$5.00',
 '$5.00',
 'Lost Sales YTD',
 'Total Business Sales ',
 'Comments:',
 'Words',
 'Words and Numbers',
 'Words and Numbers',
 'Words and Numbers',
 'Words and Numbers',
 'Words and Numbers',
 'Words and Numbers',
 'Words and Numbers',
 'Words and Numbers',
 'Words and Numbers',
 'Words and Numbers']

In [25]:
# to make a list of the values in the ACV total summary column
total_summary_values = total_summary_col_original[0:9]
total_summary_values

['$5.00',
 '$5.00',
 '-$5.00',
 '$5.00',
 '$5.00',
 '$5.00',
 '$5.00',
 '$5.00',
 '$5.00']

In [26]:
# to convert the total_summary_values to a list of float values
total_summary_val = string_to_float(total_summary_values)
total_summary_val

[5.0, 5.0, -5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0]

In [27]:
total_summary_values

['$5.00',
 '$5.00',
 '-$5.00',
 '$5.00',
 '$5.00',
 '$5.00',
 '$5.00',
 '$5.00',
 '$5.00']

In [28]:
total_summary_descr = revised_column_headers[4:13]

In [29]:
if len(total_summary_values) == len(total_summary_descr):
    
    length_of_lists = len(total_summary_values)
    print(f" Total Values in Lists: {length_of_lists}")

else:
    print("Aggregation Error")

 Total Values in Lists: 9

In [30]:
total_summary_dict = {}

i = 0

# to create a dictionary to match the categorical and numerical values
# this action is performed to prepare the data to be input into a dataframe

while i < length_of_lists:
    total_summary_dict.update({total_summary_descr[i]:total_summary_val[i]})
    
    print(f"Updated Dictionary for {i} out of 8")
    
    i += 1

Updated Dictionary for 0 out of 8
Updated Dictionary for 1 out of 8
Updated Dictionary for 2 out of 8
Updated Dictionary for 3 out of 8
Updated Dictionary for 4 out of 8
Updated Dictionary for 5 out of 8
Updated Dictionary for 6 out of 8
Updated Dictionary for 7 out of 8
Updated Dictionary for 8 out of 8

In [31]:
total_summary_dict

{'Prior Year Ending': 5.0,
 'Forecast: Next Year': 5.0,
 'Current Year': -5.0,
 'Changed': 5.0,
 'Renewed': 5.0,
 'Forecast: Sales Likely': 5.0,
 'Forecast: Sales Unlikely': 5.0,
 'Lost Kind Of': 5.0,
 'Lost': 5.0}

In [32]:
quarterly_dataframe_values = []

quarterly_data_structure = {}

while i < len(quartlery_col_headers): ## Header
    while j < len(quarterly_values):  ## Values

SyntaxError: unexpected EOF while parsing (<ipython-input-32-5880ccef6862>, line 6)